@using WebUI.Resources
@inject LocalizationService Resource

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@Resource["SiteName"] - @Resource[ViewBag.Title]</title>


    <link href="~/lib/bootstrap-4.5.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/select2-4.1.0/css/select2.css" rel="stylesheet" />
    <link href="~/lib/ckeditor-full/4.14.1/content/Scripts/ckeditor/contents.css" rel="stylesheet" />
    <link href="~/lib/adminlte/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="~/js/popper-2.4.4.min.js"></script>
    <script src="~/lib/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <script src="~/lib/select2-4.1.0/js/select2.min.js"></script>
    <script src="~/lib/ckeditor-full/4.14.1/content/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ModalDialog.js"></script>
</head>
<body>
    <div id="ModalDialog"></div>
    <div class="container">
        <header class="header">
            <div class="row">
                <div class="col">
                    <a class="navbar-brand" href="/">
                        <img src="~/Images/greenleaf.png" class="no-border" />
                    </a>
                </div>
            </div>
        </header>
        <div class="bg-light-green">&nbsp;</div>
        <div style="margin-top: 10px; margin-bottom: 10px;">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    @Html.ActionLink(Resource["Administration"], "Index", "Home", new { area = "Admin" }, new { @class = "nav-link" + (ViewBag.TabItem == "Home" ? " active" : "") })
                </li>
                <li class="nav-item">
                    @Html.ActionLink(Resource["Users"], "List", "Users", new { area = "Admin" }, new { @class = "nav-link" + (ViewBag.TabItem == "Users" ? " active" : "") })
                </li>
                <li class="nav-item">
                    @Html.ActionLink(Resource["Cities"], "List", "Cities", new { area = "Admin" }, new { @class = "nav-link" + (ViewBag.TabItem == "Cities" ? " active" : "") })
                </li>
                <li class="nav-item">
                    @Html.ActionLink(Resource["Companies"], "List", "Companies", new { area = "Admin" }, new { @class = "nav-link" + (ViewBag.TabItem == "Companies" ? " active" : "") })
                </li>
                <li class="nav-item">
                    @Html.ActionLink(Resource["Stores"], "List", "Stores", new { area = "Admin" }, new { @class = "nav-link" + (ViewBag.TabItem == "Stores" ? " active" : "") })
                </li>
                <li class="nav-item">
                    @Html.ActionLink(Resource["Products"], "List", "Products", new { area = "Admin" }, new { @class = "nav-link" + (ViewBag.TabItem == "Products" ? " active" : "") })
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @Resource["AppName"] - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
