@using Microsoft.AspNetCore.Hosting
@using WebUI.Resources
@using WebUI.Services
@inject LocalizationService Resource
@inject ICatalogService Catalog
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@Resource["SiteName"] - @Resource[ViewBag.Title]</title>

    <link href="~/lib/bootstrap-4.5.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/select2-4.1.0/css/select2.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/lib/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <script src="~/lib/select2-4.1.0/js/select2.min.js"></script>
</head>
<body>
    <div class="container">
        <header class="header">

            <div class="row">
                <div class="col">
                    <a class="navbar-brand" href="/">
                        <img src="~/Images/greenleaf.png" />
                    </a>
                </div>
                <div class="col">
                    <div class="float-right">
                        <div class="input-group my-2 my-lg-0">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Admin"))
                                {
                                    @Html.ActionLink(Resource["Administration"], "Index", "Home", new { area = "Admin" }, new { @class = "btn btn-light" })
                                }
                                @Html.ActionLink(Resource["Logout"], "Logout", "Account", new { }, new { @class = "btn btn-light" })
                                if (User.IsInRole("User"))
                                {
                                    @await Component.InvokeAsync("UserNav", ViewBag.Title == "User Profile")
                                }
                            }
                            else
                            {
                                if (ViewBag.Title == "Login")
                                {
                                    @Html.ActionLink(Resource["Login"], "Login", "Account", new { }, new { @class = "btn btn-light active" })
                                }
                                else
                                {
                                    @Html.ActionLink(Resource["Login"], "Login", "Account", new { }, new { @class = "btn btn-light" })

                                }
                            }
                            <span>@await Html.PartialAsync("_SelectLanguagePartial")</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <nav class="navbar navbar-dark bg-light-green">
            @await Html.PartialAsync("_NavigationPartial")
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @Resource["AppName"] - <a asp-area="" asp-controller="Shop" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    $(document).ready(function(){$(".choose-store").select2({ajax:{delay: 500,url:'/Shop/GetStoreList',width:'resolve',data:function(params){return{search:params.term};},processResults:function(data){return{results:data.items};},minimumInputLength:1,width:'resolve'},placeholder:'@Resource["SelectStore"]'});});
    function setCityFilter(val) { window.location.href = "/Shop/SetCity?f=" + val; };
    function setStoreFilter(val) { window.location.href = "/Shop/SetStore?f=" + val; };
</script>
@RenderSection("Scripts", required: false)
