@using WebUI.Areas.Admin.Models
@using Microsoft.AspNetCore.Mvc.Localization
@using WebUI.Resources
@inject LocalizationService resources
@model UserEditVM

@{
    ViewData["Title"] = "CreateUser";
}

<h4>Create User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" class="form-control" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @if (ViewBag.AvailableStores != null || ViewBag.AvailableStoresStores.Any())
            {
                <div class="form-group">
                    <label asp-for="AssignedStoreId" class="control-label"></label>
                    <select asp-for="AssignedStoreId" class="form-control custom-select">
                        @if (Model.AssignedStoreId == null)
                        {
                            <option value="0">None</option>
                        }
                        else
                        {
                            <option selected="selected" value="0">None</option>
                        }
                        @foreach (var item in ViewBag.AvailableStores as List<StoreVM>)
                        {
                            if (Model.AssignedStoreId != null && item.StoreId == Model.AssignedStoreId)
                            {
                                <option selected="selected" value="@item.StoreId">@item.StoreName</option>
                            }
                            else
                            {
                                <option value="@item.StoreId">@item.StoreName</option>
                            }
                        }
                    </select>
                </div>
            }
            @if (ViewBag.AvailableRoles != null || ViewBag.AvailableRoles.Any())
            {
                <div class="form-group">
                    <label asp-for="UserRole" class="control-label"></label>
                    <select asp-for="UserRole" class="form-control custom-select">
                        @foreach (var item in ViewBag.AvailableRoles as List<RoleType>)
                        {
                            if (Model.UserRole == item)
                            {
                                <option selected="selected" value="@((int)item)">@resources[item.ToString()]</option>
                            }
                            else
                            {
                                <option value="@((int)item)">@resources[item.ToString()]</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="UserRole" class="text-danger"></span>
                </div>
            }
            @if (ViewBag.AvailableStatuses != null || ViewBag.AvailableStatuses.Any())
            {
                <div class="form-group">
                    <label asp-for="UserStatus" class="control-label"></label>
                    <select asp-for="UserStatus" class="form-control custom-select">
                        @foreach (var item in ViewBag.AvailableStatuses)
                        {
                            if (Model.UserStatus == item)
                            {
                                <option selected="selected" value="@((int)item)">@resources[item.ToString()]</option>
                            }
                            else
                            {
                                <option value="@((int)item)">@resources[item.ToString()]</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="UserStatus" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="@resources["Create"]" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">@resources["BackToList"]</a>
</div>
